.logo {
    font-family: cursive;
    font-size: 3em;
    position: absolute;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 20px;
}
.nav {
    position: relative;
    min-height: 80px;
    top: -10px;
    max-width: 80%;
    left: 10%;
    border-radius: 0px 0px 10px 10px;
    background: -webkit-linear-gradient(top, #009999, #009900);
}

.content {
    position: relative;
    min-height: 600px;
    max-width: 60%;
    left: 20%;
    top: -10px;
    background-color:#a9a9a9;
    border-left: solid 4px #008b8b;
    border-right: solid 4px #008b8b;

}
img{
    position: relative;
    max-width: 28%;
    -webkit-transition:all 1s;
    margin-left: 10px;
    margin-top: 10px;
    background-color:white;
    padding: 8px;
}
img:hover{
    cursor: pointer;
    box-shadow: 2px 2px 2px black;
}
img:active{
    z-index: 2;
    -webkit-transform:scale(2);
}