<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/html">
<head>
    <title></title>
</head>
<body>
<ui:composition>
    <f:form>
        <f:outputLabel for="userName">Username:</f:outputLabel>
        <f:inputText id="userName" value="#{authorization.userName}" required="true"/>
        <f:outputLabel for="password">Password:</f:outputLabel>
        <f:inputSecret id="password" value="#{authorization.hashPassword}" required="true"/>
        <f:commandButton action="#{authorization.logIn}" value="Ok"/>
    </f:form>
</ui:composition>
</body>
</html>