<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xml:lang="en" lang="en">
<head>
    <title></title>
</head>
<body>
<ui:composition>
    Hello <f:outputText value="#{authorization.userName}"/>
    <f:commandButton action="#{authorization.logOut}" value="LogOut"/>
</ui:composition>
</body>
</html>