body {
    font: 10pt Arial, Helvetica, sans-serif;
    background: #e1dfb9;
}
h2 {
    font-size: 1.1em;
    color: #800040;
    margin-top:0px;
}
#container {
    width: 500px;
    margin: 0 auto;
    background: #f0f0f0;
}
#header {
    font-size: 2.2em;
    text-align: center;
    padding: 5px;
    background: #8fa09b;
    color: #ffe;
}
#sidebar {
    margin-top: 10px;
    width: 110px;
    padding: 0 10px;
    float: left;
}
#content {
    margin-left: 130px;
    padding: 10px;
    background: #fff;
    height:550px;
}
#footer {
    background: #8fa09b;
    color: #fff;
    padding: 5px;
    clear: left;
}
hr{
    color: #6e4f38;
}