.table tbody tr:hover{
    background-color: rgba(33,33,33,0.3);
    cursor: pointer;
}
.table th,.table td{
    text-align: center;
}
.photo{
    width:300px;
    height: 360px;
    float: left;
}
.labels{
    color: #1a1a1a;
    padding-left: 330px;
}
