#chat {
    display: block;
    position: relative;
    left: 25%;
    min-width: 50%;
    max-width: 50%;
    width: 1600px;
    min-height:100%;
    background-color: #333333;
}
#history{
    display: block;
    position: relative;
    min-height: 80%;
    max-height: 80%;
    min-width:70%;
    background-color:#333333;
    margin-left:2%;
    margin-right: 2%;
    top:20px;
    word-wrap: break-word;
    overflow-y: auto;
}
.message{
    display: block;
    position: relative;
    background-color: inherit;
    outline: #d9d9d9 dashed thin;
    min-height:10%;
    max-height: 10%;
    word-wrap: break-word;
    overflow-y: auto;
    margin-left: 2%;
    margin-right: 2%;
    top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    color: #f5b900;
}