.tooltip{
    display: block;
    max-width:100%;
    background-color: #323232;
    color: #d9d9d9;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 1%;
    padding-right: 1%;
    font-size: large;
}
.tooltip:hover{
    cursor: pointer;
    opacity: 0.9;
    background-color: #444444;

}.userInfo{
color: #f5b900;
 }