<!doctype html>
<html>
<head>
	<title>BackboneJS</title>
	<meta charset="utf-8">	
	<script type="text/template" id="template">
	<strong>Name:<%=name%></strong>&nbspage:(<%=age%>)
	</script>
	<script type="text/javascript" src="js/jquery-min.js"></script>
	<script type="text/javascript" src="js/underscore-min.js"></script>
	<script type="text/javascript" src="js/backbone-min.js"></script>
	<script type="text/javascript" src="js/person.js"></script>
</head>
<body>
</body>
</html>