<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/core" xmlns:f="http://java.sun.com/jsf/html">
<f:head>
    <title></title>
</f:head>
<f:body>
<h1>Authorization page</h1>
    <h3>Hello #{authorization.userName}</h3>
    <ui:insert>
        <ui:include src="#{authorization.userPanel}"/>
    </ui:insert>
    <f:form>
        <f:commandButton outcome="#{navigator.moveToHome}" value="Back"/>
        <f:commandButton action="secure?faces-redirect=true" value="Show Security Data"/>
    </f:form>
</f:body>
</html>