<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" xmlns:h="http://java.sun.com/jsf/core" xmlns:f="http://java.sun.com/jsf/html">
<f:head>
    <title></title>
</f:head>
<f:body>
    <h1>Secret Data</h1>
</f:body>
</html>