<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
    <title></title>
</h:head>
<h:body>
    <ui:insert>
        <ui:include src="templates/header.xhtml"/>
    </ui:insert>
    <h:outputFormat value="Hello {0}">
        <f:param value="#{authorization.userName}"/>
    </h:outputFormat>
    <h:form>
        <h:inputText id="name" value="#{user.name}"/>
        <h:commandButton value="#{msg.welcomeButton}">
            <f:ajax execute="name" render="output"/>
        </h:commandButton>
        <h:outputText id="output" value="#{user.name}"/>
    </h:form>
    <h:form>
        <h:commandButton action="AuthorizationPage" value="Authorization"/>
    </h:form>
</h:body>
</html>